.banner {
  margin-bottom: -9px;
  .background-banner{
    width: 100%;
    img{
      width: 100%;
    }
  }

  .background-banner-imagem.bg-banner-imagem-barraca {
    position: absolute;
    margin-top: -64%;
    padding: 16%;
    text-align: center;
  }

  .background-banner-imagem.bg-banner-imagem-barraca img {
    width: 10%;
    margin: auto 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

}
