
.wrapper {
  padding: 0 15px;
}
/* Acordeon styles */
#tab-control.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: left;
  background: transparent;
}
.label-tab {
  position: relative;
  display: block;
  padding: 10px 40px 10px 10px;
  background: #16a085;
  font-weight: bold;
  line-height: 1.7;
  cursor: pointer;
  margin-top: 8px;
}

.tab-content {
  overflow: hidden;
  display: none;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;

  p{
    padding: 1em;
  }
}

@media screen and (min-width: 736px){
  .tab-content {
    display: block;
  }
}
