$facebook-color: #960303;
$instagram-color: #3675b4;
@mixin siganos(){
	border-bottom: 2px solid #505050;
	font-size: 2em;
	font-weight: bold;
	width: 140px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

@mixin social-itens(){
	width: 50%;
  padding: 0px 20px;
	font-size: 1.4em;
}

@mixin one-column{
	width: 100%;
	float: left;
	text-align: left;
}
@mixin one-colums-left{
	padding-left: 0px;
}
@mixin one-colums-right{
	padding-left: 0px;
}
@mixin two-columns{
	width: 50%;
	float: left;
	text-align: left;
}
@mixin two-colums-left{
	padding-left: 130px;
}
@mixin two-colums-right{
	padding-left: 30px;
}
#footer-desktop{
	padding: 15px;
	// .servicos,
	// .cardapio{
	// 	width: 16.65%;
  //   float: left;
	// }
	.imagem-footer,
	.footer-menu-itens,
	.social,
	.servicos,
	.cardapio
	{
		width: 25%;
    float: left;
	}

	.servicos,
	.cardapio,
	.footer-menu-itens{
		h1{
			color: $facebook-color;
	    font-size: 1.7em;
			margin-bottom: 10px;
		}
		p{
			color: #333;
			font-size: 1em;
    	font-weight: bold;
		}
	}

	.footer-menu-itens{
		ul{
			.menu-footer-left,
			.menu-footer-right{
				@include one-column();
			}
			.menu-footer-left{
				@include one-colums-left();
			}
			.menu-footer-right{
				@include one-colums-right();
			}

			li{
				padding: 0 0px 15px;
				a.footer-menu-item.ui-link{
					color: #333;
					font-size: 1em;
		    	font-weight: bold;
				}
				a.footer-menu-item.ui-link:hover{
					color: #960303;
          border-bottom: 3px solid #960303;
				}
			}
		}
	}



	.siga-nos{
    > p{
     @include siganos();
    }
    .facebook, .instagram{
      @include social-itens();
      p{
        display: inline-block;
      }
    }
    .facebook{
      float: left;
    	text-align: right;
      color: $facebook-color;
      p a{
        color: $facebook-color;
      }
    }
    .instagram{
      display: inline-block;
      color: $instagram-color;
      p a{
        color: $instagram-color;
      }
    }
  }

}
