$facebook-color: #960303;
$instagram-color: #3675b4;
@mixin siganos(){
	color: $facebook-color;
	font-size: 1.7em;
	margin-bottom: 10px;
  margin-top: -10px;
}

@mixin social-itens(){
	width: 50%;
  padding: 0px 20px;
	font-size: 1.4em;
}

@mixin one-column{
	width: 100%;
	float: left;
	text-align: left;
}
@mixin one-column-left{
	padding-left: 0px;
}
@mixin one-column-right{
	padding-left: 0px;
}
@mixin one-column-padding{
	padding: 0;
}
@mixin two-columns{
	width: 50%;
	float: left;
	text-align: left;
}
@mixin two-colums-left{
	padding-left: 130px;
}
@mixin two-colums-right{
	padding-left: 30px;
}
@mixin two-columns-padding{
	padding: 0 0px 15px;
}

.force-footer{
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
}
#footer-desktop{
	padding: 15px;
	display: inline-block;
	width: 100%;

	.middle-container{
		width: 50%;
		float: left;
		.servicos,
		.footer-menu-itens{
			width: 50%;
			float: left;
		}
	}
	.siga-nos,
	.subscribe{
		width: 25%;
		float: left;
	}

	.siga-nos{
		.social{
			width: 340px;
		}
	}

	.servicos,
	.cardapio,
	.footer-menu-itens{
		h1{
			color: $facebook-color;
	    font-size: 1.7em;
			margin-bottom: 10px;
		}
		p{
			color: #333;
			font-size: 1em;
    	font-weight: bold;
		}
	}

	.footer-menu-itens{
		ul{
			.menu-footer-left,
			.menu-footer-right{
				@include one-column();
			}
			.menu-footer-left{
				@include one-column-left();
			}
			.menu-footer-right{
				@include one-column-right();
			}

			li{
				@include one-column-padding();
				a.footer-menu-item.ui-link{
					color: #333;
					font-size: 1em;
		    	font-weight: bold;
		    	text-transform: capitalize;
				}
				a.footer-menu-item.ui-link:hover{
					color: #960303;
          border-bottom: 3px solid #960303;
				}
			}
		}
	}

	.subscribe{
		.es_caption{
			color: $facebook-color;
			font-size: 1.6em;
			margin-bottom: -20px;
		}
		.es_lablebox label{
			color: #333;
			font-size: 1em;
			font-weight: bold;
			text-transform: capitalize;
		}
		form.es_shortcode_form {
	    width: 500px;
	    float: right;
    	margin-top: -10px;
		}
		.es_msg_pg{
			color: $facebook-color;
		}
	}


	.siga-nos{
    p{
     @include siganos();
    }
    .facebook, .instagram{
      @include social-itens();
      p{
        display: inline-block;
      }
    }
    .facebook{
      float: left;
    	text-align: right;
      color: $facebook-color;
      p a{
        color: $facebook-color;
      }
    }
    .instagram{
      display: inline-block;
      color: $instagram-color;
      p a{
        color: $instagram-color;
      }
    }
  }
}



@media screen and (max-width: 1500px){
	.force-footer{
		position: initial;
	}
}
@media screen and (max-width: 1500px) and  (min-width: 1200px) {

	#footer-desktop .subscribe form.es_shortcode_form{
		width: 100%;
	}
	#footer-desktop .middle-container .servicos, #footer-desktop .middle-container .footer-menu-itens {
		float: none;
		margin: 0 auto;
    width: 275px;
	}
	#footer-desktop .middle-container .footer-menu-itens{
		padding-top: 70px;
	}
}

@media screen and (max-width: 1199px) and  (min-width: 730px) {
	#footer-desktop .subscribe{
		float: initial;
	}

	#footer-desktop .subscribe form.es_shortcode_form{
		width: 100%;
		margin-top: 40px;
	}
	#footer-desktop .middle-container .servicos, #footer-desktop .middle-container .footer-menu-itens {
		float: none;
		margin: 0 auto;
    width: 275px;
	}
	#footer-desktop .middle-container .footer-menu-itens{
		padding-top: 70px;
	}

	#footer-desktop .siga-nos, #footer-desktop .subscribe{
		width: 50%;
	}
}

@media screen and (max-width: 729px) {
	#footer-desktop .subscribe{
		float: initial;
	}

	#footer-desktop .subscribe form.es_shortcode_form{
		width: 100%;
		margin-top: 40px;
	}


	#footer-desktop .middle-container .servicos, #footer-desktop .middle-container .footer-menu-itens {
		float: none;
    width: 275px;
	}
	#footer-desktop .middle-container .servicos{
		padding-top: 40px;
	}
	#footer-desktop .middle-container .footer-menu-itens{
		padding-top: 70px;
	}
	#footer-desktop .siga-nos, #footer-desktop .middle-container, #footer-desktop .subscribe{
		width: 50%;
    float: initial;
		margin: auto;
	}
}
