$facebook-color: #960303;
$instagram-color: #3675b4;
@mixin siganos(){
	color: $facebook-color;
	font-size: 1.7em;
	margin-bottom: 10px;
  margin-top: -10px;
}

@mixin social-itens(){
	width: 50%;
  padding: 0px 20px;
	font-size: 1.4em;
}

@mixin one-column{
	width: 100%;
	float: left;
	text-align: left;
}
@mixin one-column-left{
	padding-left: 0px;
}
@mixin one-column-right{
	padding-left: 0px;
}
@mixin one-column-padding{
	padding: 0;
}
@mixin two-columns{
	width: 50%;
	float: left;
	text-align: left;
}
@mixin two-colums-left{
	padding-left: 130px;
}
@mixin two-colums-right{
	padding-left: 30px;
}
@mixin two-columns-padding{
	padding: 0 0px 15px;
}

.force-footer{
	margin-top: 80px;
	position: relative;
	width: 100%;
	display: block;
	bottom: 0;
}
#footer-desktop{
	padding: 15px;
	display: inline-block;
	width: 100%;
	display: none;

	h3{
		color: #960303;
		font-size: 1.7em;
		margin-bottom: 25px;
		font-weight: bold;
	}
	p{
		color: #333;
		font-size: 1em;
		font-weight: bold;
	}
	.footer-container{
		display: inline-block;
		width: 25%;
		float: left;
	}
	// .left-container{
	// 	width: 20%;
	// 	float: left;
	// }
	// .right-container{
	// 	width: 30%;
	// 	float: left;
	// }
	//
	// .left-container{
	// 	.footer-orcamento{
	// 		font-size: 1.4em;
	// 		margin-top: 50px;
  //   	max-width: 288px;
  //   	text-align: center;
	// 		a{
	// 			color: #960303;
	// 		}
	// 	}
	// }

	// .middle-container{
	// 	width: 50%;
	// 	float: left;
	// 	.footer-fale-conosco,
	// 	.siga-nos{
	// 		width: 50%;
	// 		float: left;
	// 	}
	//
	// 	.footer-fale-conosco{
	// 		padding-left: 40px;
	// 		.info-contato-footer{
	// 	    span{
	// 	      display: inline-block;
	// 	      margin-right: 5px;
	// 	      margin-top: 2px;
	// 	    }
	// 	    .titulo{
	// 	      font-weight: bold;
	// 	      display: inline-block;
	// 	    }
	// 	  }
	// 	}
	// 	.siga-nos{
	// 		.social{
	// 			width: 340px;
	// 			float: right;
  //   		margin-right: 70px;
	// 		}
	// 	}
	//
	// }

	// .right-container{
	// 	.subscribe{
	// 		background-color: #960303;
	// 		color: #fff;
	// 		width: 80%;
	// 		margin: auto;
	// 		.envelope-selo{
	// 			border-radius: 100%;
	// 			width: 85px;
	// 			background-color: #3675b4;
	// 			padding: 15px 19px;
	// 			margin-top: -40px;
	// 			position: relative;
	// 			display: inline-block;
	// 			margin-left: 150px;
	// 			.icon-envelop{
	// 				color: #fff;
	// 				font-size: 3em;
	// 			}
	// 		}
	// 	  > div {
  //   		padding: 15px;
	// 		}
	// 		.titulo-newsletter {
	// 			color: #fff;
	// 	    font-size: 2.3em;
	// 	    text-transform: uppercase;
	// 	    letter-spacing: 7px;
	// 	    text-align: center;
	// 	    margin-top: 30px;
	// 	    line-height: 0.5;
	// 		}
	// 		.subtitulo-newsletter {
	// 			color: #fff;
	// 	    font-size: 1.5em;
	// 	    text-transform: uppercase;
	// 	    letter-spacing: 0.5px;
	// 	    text-align: center;
	// 	    font-weight: lighter;
	// 		}
	// 		.ui-page-theme-a .ui-btn,
	// 		.rm_form_field.rm_button{
	// 			background-color: #fff;
	// 		}
	// 	}
	// 	.cloud-tag{
	// 		// width: 100%;
	// 		// background-color: #960303;
	// 		// color: #fff;
	// 		// height: 154px;
	// 		// padding: 20px;
	// 		// margin-top: 20px;
	// 	}
	// }
}

.footer-copyright{
  background-color: #333;
  color: #fff;
  padding: 20px 15px;
}

// @media screen and (max-width: 1199px) and  (min-width: 730px) {
