#modal-erro{
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: auto;
  padding: 15px;
  margin-top: -250px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  text-align: center;
  min-height: 97px;
  .content p{
    color: #a94442;
  }
}
