.orcamento {
  margin: 40px 0px 100px;
  padding: 0 15px;
  .title{
    color: #960303;
    text-align: center;
    margin: 10px;
    font-size: 20px;
  }
  .form-itens{
    margin-bottom: 20px;
  }
}
