@media screen and (min-width: 400px) {
.bx-wrapper{
  display: none;
}
}

.bx-wrapper{
  top: 94px;
  margin-bottom: 100px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
  bottom: 5px !important;
}

.bx-wrapper .bx-controls-direction a{
  z-index: 99;
}

.bx-wrapper img{
  width: 100%;
}
