.sobre {
  .sobre-header{
    background-color: #960303;
    .title{
      text-transform: uppercase;
      color: #fff;
      width: 100%;
      max-width: 340px;
      padding: 70px 0px;
      margin: auto;
      h1{
        font-size: 35px;
        font-weight: bold;
      }
      h3{
        font-size: 24px;
        letter-spacing: 3.5px;
      }
    }
  }
  .container{
    .about{
      background-color: #F0F7F7;
      .description{
        padding: 70px 0px;
        margin: auto;
        width: 100%;
        max-width: 1000px;
        font-size: 20px;
      }
    }
    .item.par{
      .content {
        float: right;
        margin-right: 210px;
      }
      .image{
        width: 50%;
        float: left;
        margin-left: 40px;
        padding: 30px 0px;

        img{
          width: 100%;
        }

      }
      background-color: #F0F7F7;
    }
    .item.impar{
      display: flex;
      .page-title{
        text-align: left;
      }
      .image{
        width: 50%;
        float: right;
        margin-right: 20px;
        padding: 30px 0px;
        img{
          width: 100%;
        }
      }
      .content{
        margin-left: 20px;
      }
    }
  }
}
