@mixin page-width(){
  max-width: 1040px;
  margin: auto;
}
@mixin border-botton(){
  border-bottom: 1px solid #cfcfcf;
}
.sobre {
  .sobre-header{
    background-color: #960303;
    .title{
      text-transform: uppercase;
      color: #fff;
      @include page-width;
      padding: 70px 0px;
      text-align: center;
      h1{
        font-size: 35px;
        font-weight: bold;
      }
      h3{
        font-size: 24px;
        letter-spacing: 3.5px;
      }
    }
  }
  .container{
    .about{
      background-color: #F0F7F7;
      @include border-botton;
      .description{
        padding: 70px 0px;
        margin: auto;
        @include page-width;
        font-size: 20px;
      }
    }
    .item .content .description{
      font-size: 20px;
    }
    .item{
      display: flex;
      .page-title{
        text-align: left;
      }
    }
    .item.impar{
      @include border-botton;
      .content{
        margin-left: 20px;
        @include page-width;
        .item-content{
          margin-left: 50px;
        }

      }
      .image{
        width: 100%;
        padding: 30px 0px;
        img{
          width: 100%;
        }
      }
    }
    .item.impar.algodao-doce{
      display: none;
    }
    .item.par{
      background-color: #F0F7F7;
      @include border-botton;
      .content {
        @include page-width;

      }
      .image{
        width: 50%;
        float: left;
        margin-left: 100px;
        padding: 30px 0px;

        img{
          width: 100%;
        }
      }
    }
  }
  .team{
    @include border-botton;
  }
}
@media screen and (max-width: 1000px) and (min-width: 710px){
  header .container{
    padding: 2px 25px !important;
  }
}

@media screen and (max-width: 1100px){


  .sobre .container > div {
    padding: 0 20px;
  }
  .sobre .container{
    .content .size-50{
      width: 100%;
    }
    .item .page-title{
      text-align: center;
    }
    .item.impar.algodao-doce{
      display: flex;
    }
    .item.par{
      display: none;
    }
    .item.impar .content .item-content {
      margin-left: 0;
    }
    .item.impar.algodao-doce{
      .image {
        min-width: 300px;
        width: 30%;
        padding: 30px 0px;
        margin: auto;
      }
    }
  }

}
