#cardapio{

  background-color: #fff;
  padding: 25px 145px;
  text-shadow: none;
  text-align: center;

  .title{
    margin: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
  }
  .description{
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  .cardapio-itens{
    .item_cardapio{
      width: 45%;
      margin: auto;
      margin-bottom: 20px;
      font-size: 1.3em;
    }

    .cardapio-itens-left{
      display: inline-block;
      float: left;
      width: 50%;
    }
    .cardapio-itens-right{
      display: inline-block;
      width: 50%;
    }
    .check_cardapio {
      background-color: transparent !important;
      border: 0 !important;
      display: inline-block;
      float: left;
      margin: auto;
      min-width: 0px;
      width: 30px;
      padding: 16px 20px 10px 16px;

      &.ui-btn.ui-icon-check.ui-btn-icon-left:after {
          background-color: #960303 !important;
      }

    }
  }
}

@media screen and (max-width: 1050px){
  #cardapio{
    .cardapio-itens{
      .item_cardapio{
        width: 60%;
      }
    }
  }
}


@media screen and (max-width: 850px){
  #cardapio{
    padding: 25px 15px;
    .cardapio-itens{
      .item_cardapio{
        width: 100%;
      }
    }
  }
}
