$facebook-color: #960303;
$instagram-color: #3675b4;
@mixin siganos(){
  border-bottom: 2px solid #505050;
  font-size: 2em;
  font-weight: bold;
  width: 140px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

@mixin social-itens(){
  width: 50%;
  text-align: center;
  font-size: 20px;
}

#footer{
	padding: 15px;
	.imagem-footer{
		text-align: center;
	}
  .siga-nos{
    .social > p{
     @include siganos();
    }
    .facebook, .instagram{
      @include social-itens();
      p{
        display: inline-block;
      }
    }
    .facebook{
      float: left;
      color: $facebook-color;
      p a{
        color: $facebook-color;
      }
    }
    .instagram{
      display: inline-block;
      color: $instagram-color;
      p a{
        color: $instagram-color;
      }
    }
  }
}
