#introducao{
  background-color: #960303;
  padding: 15px;
  color: #fff;
  text-shadow: none;

  .item .title{

    margin: 15px;
    text-align: center;
    font-weight: bold;
  }

  .item .description{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
  }
}
