$background_color: #fff;

header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: $background_color;

  &.border-bottom {
    border-bottom: 1px solid #eee;
  }

  .container {
    padding: 10px 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .logo-mobile{
      display: inline-block;
      float: right;
      img{
        width: 107px;
      }
    }
  }
}
