.sidebar-header, .sidebar-category, .sidebar-footer{
  padding: 0 10px;
}

.sidebar-header{
  width: 100%;
  border-bottom: 3px solid #960303;
  height: 110px;
  .sidebar-header-logo{
    .logo-mobile{
      height: 110px;
      vertical-align: middle;
      display: table-cell;
      img{
        vertical-align: middle;
      }
    }
  }
}


.sidebar-category{
  padding-top: 20px;
  text-transform: capitalize;
  li:hover{
    background-color: #fcae17;
    a{
      color: #fff !important;
    }
  }
  .menu-item{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    display: block;
    padding: 13px 0px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.015em;
    color: #5b5855 !important;
    font-weight: 400;
  }

  .ui-btn-icon-right:after{
    background-color: #960303;
    right: 0px;
  }
}

.sidebar-footer{
  bottom: 0;
  display: block;
  position: fixed;
}

@media screen and (max-width: 710px) {
  .info-contato-menu{
    height: 110px;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    float: none;
    width: 1%;
    span{
      display: inline-block;
    }
    .titulo{
      display: inline-block;
    }
    .horario-atendimento{
    }
    .horario-atendimento,
    .dados-contato{
    }
  }
}
