.sidebar-header, .sidebar-category, .sidebar-footer{
  padding: 0 15px;
}

.sidebar-header{
  min-height: 20%;
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #960303;
  overflow: hidden;
  .sidebar-header-logo{
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    img{
      vertical-align: middle;
      width: 100%;
    }
  }
}


.sidebar-category{
  top: 20%;
  min-height: 60%;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  text-transform: capitalize;
  .menu-item{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    display: block;
    padding: 13px 0;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.015em;
    color: #5b5855;
    font-weight: 400;
  }
}

.sidebar-footer{
  top: 80%;
  min-height: 20%;
  position: absolute;
  width: 100%;
  text-align: center;
}
