#sobre{
  background-color: #3675b4;
  padding: 15px;
  color: #fff;
  text-shadow: none;

  .item .title{
    margin: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
  }
  .item .description{
    font-size: 15px;
    margin-bottom: 30px;
  }

}
