#sobre{
  background-color: #3675b4;
  padding: 25px 145px;
  color: #fff;
  text-shadow: none;

  .title{
    margin: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
  }
  .description{
    font-size: 1.3em;
    margin-bottom: 30px;
  }

}




@media screen and (max-width: 830px){
  #sobre{
    padding: 25px 15px;
  }
}
