$font-family: "Open Sans", sans-serif;

$color-primary: #5F6F9F;
$color-primary-darker: #313c5f;
$color-grey: #666;
$color-grey-light: #e7e7e7;
$color-grey-dark: #333333;

$color-blue: #0274bd;
$color-share-social: #225d9d;
$color-share-social-hover: #004086;

$body-bakground: #373737;

$site-size:50%;
